*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.wrapper,
.skeleton{
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card,
.skeleton__item{
    width: 300px;
    padding: 20px;
}

.wrapper{
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
}

.card{
    border-radius: 12px;
    box-shadow: 0px 6px 16px 0px rgba(0, 0, 0, 0.16);
    margin: 20px 0;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: contain;

}
.skeleton__img{
    width: 100%;
    height: 250px;
    background: #ddd;
    border-radius: 14px;
}

.skeleton__line{
    width: 100%;
    height: 30px;
    background: #ddd;
    margin-top: 14px;
    border-radius: 6px;
}

.skeleton__line:nth-child(3){
    width: 80%; 
}
.skeleton__line:nth-child(4){
    width: 60%; 
}

.skeleton__animation{
    background: linear-gradient(90deg, #ddd, #f7f7f7, #ddd);
    background-size: 200%;
    animation: skeleton 1s linear 0s infinite;
}

@keyframes skeleton{
    to{
        background-position: 200%;
    }
}

.desc{
    color: rgba(126, 125, 122, 1);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding: 0 50px 0 0;
}

.collection{
    display: flex;
    list-style: none;
    overflow: auto;
    gap: 20px;
    padding: 20px 50px;

}

.item data{
    white-space: nowrap;
}

.btnss{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.see__more{
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    background: yellowgreen;
    cursor: pointer;
    color: blue;
}


li:hover{
    color: sienna;
    cursor: pointer;
}

