.footer{
    width: 100%;
    margin-top: 50px;
    height: 400px;
    background: url(/assets/footer.png);
    background-repeat: no-repeat;
    border-radius: 24px;
}

.footer__body{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    
    .text{
        display: flex;
        flex-direction: column;
        
        p{
            font-family: Poppins;
            font-size: 32px;
            font-weight: 600;
            line-height: 48px;
            letter-spacing: 0.04em;
            color: aliceblue;
            align-items: center;
            justify-content: center;
            margin-top: 100px;
        }
    }

    .inputs{
        display: flex;
        padding: 3px 10px 3px 16px;
        background: rgba(255, 255, 255, 1);
        border-radius: 42px;
        margin-top: 20px;

        input{
            padding: 0  120px 0 0;
            outline: none;
            border: none;
        }

        button{
            padding: 8px;
            border-radius: 42px;
            border: none;
            background: rgba(47, 33, 5, 1);
            color: rgba(255, 255, 255, 1);
            cursor: pointer;
        }
    }
}


